header
{
	background-image: url("https://jooinn.com/images/blur-lights-1.jpg");
	height: 670px;
	width:100%;
	background-size: cover;
  font-weight: bold;
  font-size: 38px;
	color:white;
  box-shadow: 0 14px 54px 0 rgb(11 11 44 / 22%);
}
header p{
  font-size: 20px;
}
header img {
  width: 100%;
}
.navbar-nav, .navbar {
  height: 70px;
  width: 100%;
  justify-content: space-around;
  background-color: #24f9c1;
}
.navbar-toggler {
  height:65px;
}

.navbar img {
  width: 65px;
}
.nav-item active, a {
  padding: 10px;
  font-weight: bold;
  font-size: 24px;
  
}
.Nav-subscribe-toggle, a{
    margin-left: auto;
    min-width: 0;
    font-weight: 700;
}
.Nav .Nav-inner>* {
    flex-shrink: 0;
}
.Nav-subscribe-toggle {
    position: right;
    vertical-align: middle;
    transition: color .25s;
}
.info , .info img {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 18px;
  box-shadow: 0 14px 54px 0 rgb(11 11 44 / 22%);
}
#programming {
  width: 110px;
}
@media (max-width: 768px) { 
    .navbar-btn {
        margin-left: 20px;
    }
}
.navbar {
  font-size: 25px;
}

body h1 {
  text-align: center;
}
body p {
  font-size: 25px;
}
/*Services*/
.services {
  box-shadow: 0 14px 54px 0 rgb(11 11 44 / 22%);
  border-radius: 18px;
}
.services span
{
  width:200px;
  display:inline-block;
}
.services i
{
color: dimgrey;
}
.services img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

/*Projects*/
.projects span
{
  width:200px;
  display:inline-block;
}
.projects i
{
color: dimgrey;
}


/*Sponsors*/
.sponsor
{
	width: 90%;
	margin: auto;
  
}
.sponsor img
{
	object-fit: cover;
	height:110px;
	width:120px;
	transition:1s;
}


.row{
  align-content: space-around;
  flex-direction: row;
  margin: auto;
}
#flogo {

	height:80px;
	width:130px;
	transition:1s;
}

.nicecontainer{
  box-shadow: 0 14px 54px 0 rgb(11 11 44 / 22%);
  border-radius: 18px;
  text-align: center;
  
}
.btn {
  border-radius: 10px;
}
button {
  padding: 8px 12px;
  margin: 0px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color:Red;
  cursor: pointer;
}

button:hover {
  background: #E07D78;
  color: #fff;
  border-color: #E07D78;
}

/*Contact*/
.contact
{
	width: 90%;
	margin: auto;
  


}
.contact i 
{
	padding: 10px;
}
.contact .btn
{
	margin-top: 10px;
	width: 100%;
	background-color: rgb(35, 35, 48);
	color: white;
}
.contact .input-group
{
	margin-top: 10px;
}
/*footer*/
.footer
{
	margin: auto;
	margin-top: 30px;
}
.footer .btn
{
	background-color: rgb(35, 35, 48);
	color: white;
	width: 50%;
}

.linkedin
{
	color: rgb(0, 115, 176);
 
}
.price title {
 margin-left: 2.5 cm
}
.fi-padding {
  width: 30px;
  height: 40px;
}

.copyright-text p {
  text-align: center;
}
.footer {
  background-color: #242424;
  color: white;
}
.open-button {
    background-color: #EDAA00;
    color: white;
    padding: 16px 20px;
    border: 1px solid white;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 15%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 200px;
}
/* ZOOMING IN */

.team img 
{
  height:250px;
  width:250px;
  transition:1s;
}

.team img:hover
{
  transform:scale(1.2);
  opacity:.8;

}

/* POPUP MODAL */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}